<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My EJS App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700'>
</head>
<body>
    
    <div class="container">
        <div class="header">
          <div class="full-name">
            <h1><b>RESUME</b></h1>
            <span class="first-name">Jenna Ella </span> 
            <span class="last-name">Pangilinan</span>
          </div>
          <div class="contact-info">
            <span class="email">Email: </span>
            <span class="email-val">jennapnglnn@gmail.com</span>
            <span class="separator"></span>

          </div>
          
          <div class="about">
            <br>
            <span class="position"><b>ABOUT</b><br></span>
            <span class="desc">
              A second year student from WD 201 at Holy Angel University. 
            </span>
          </div>
        </div>
         
        <ul>
            <span><b>HOBBIES</b></span>
            <li>Drawing</li>
            <li>Photography</li>
            <li>Editing</li>
            <li>Web Development</li>
            </ul>
            <br>
            <p class="head"><b>SKILLS</b></p>
            <ul>
            <li>Web Design with HTML & CSS</li>
            </ul>
            <br>
            <p class="head"><b>EDUCATION</b></p>
            <ul>
            <li>Holy Family Academy</li>
            </a>
            <li>Holy Angel University</li>
            </a>
            </ul>
            <br>
            <p class="head"><b>EXTRACURRICULARS</b></p>
            <ul>
            <li>Former Artist in Junk Art (UP Aguman)</li>
            <li>Illustrator in Publication (Holy Family Academy)</li>
            <li>Layout Artist in Publication (Holy Family Academy)</li>
            </ul>
            <br>
            <p class="head"><b>AWARDS</b></p>
            <ul>
            <li>Highest Honors (Grade 12)</li>
            </ul>
            </div>
        </div>
      </div>
</body>
</html>
</DOCTYPE>



